
body {
    background-color: darkcyan;
}

h1 {
    color: white;
    margin-left: 20px;
}


.grid-container {
    display: flex;
    outline:4px solid white;
    margin: auto;
    height:960px;
    width:960px;
}

.grid-item {
    display: inline-block;
    outline:2px solid white;
}

