
body {
    background-color: darkcyan;
}

h1 {
    color: white;
    margin-left: 20px;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    outline:4px solid white;
    margin: auto;
    height:960px;
    width:960px;
}

.grid-item {
    background-color: darkcyan;
    outline:2px solid white;

    width: 60px;
    height: 60px;

}
